<!-- <section class="stage"> -->

    <div class="task task-modal">
    <h1 class="text-center"><b>Create New Stage</b></h1>
    <form (ngSubmit)="createStage()" [formGroup]="stageForm">
        
        
        <mat-form-field appearance="outline" class="form-group">
            <mat-label>Stage Name</mat-label>
            <input type="text" placeholder="Enter Stage Name" matInput maxlength="20" name="stageName" formControlName="stageName" />
            <mat-error *ngIf="stageName?.errors?.['required']">Stage name cannot be empty</mat-error>
            <mat-error *ngIf="stageName?.errors?.['pattern']">Stage name should have 3 characters starting with a letter</mat-error>
        </mat-form-field>
    
        <div class="btn-container">
            <button color="primary" class="me-3" mat-raised-button matTooltip="Create the Stage" type="submit" [disabled]="stageForm.invalid">Create Now</button>
            <button type="button" color="warn" mat-raised-button (click)="closeModal()">Cancel</button>
        </div>
    </form>
</div>
<!-- </section> -->


