
<div class="dashboard">
  <app-header></app-header>
 
  <div class="flex-wrap">
    <div class="app-board-list col-lg-3 col-md-12">
      <div class="text-center text-white p-2 fs-4 flex-wrap">
        <span style="font-size: 70%;" class="title">{{creator | titlecase}} Boards</span>
        <button *ngIf="creator===userName" (click)="newBoard()" matTooltip="Create Board" class="btn text-white" >
          <div class="d-flex align-items-center" style="align-items: center; justify-content: center;">
            <mat-icon aria-hidden="false">add_circle</mat-icon>
            <span class="ms-2 span">Create New Board</span>
          </div></button> 
      </div>

      <div class="input-group mb-2 ">
        <span class="input-group-text"><div class="d-flex align-items-center"><mat-icon id="search-icon" aria-hidden="false">search</mat-icon></div></span>
        <input type="text" class="form-control" [(ngModel)]="searchQuery" (input)="applySearch()" placeholder="Search">
      </div>

      <div class="app-board-list">
        <app-board-list *ngIf="newBoardlist != null" [boardListData]="newBoardlist" (dataUpdated)="boardlist($event)"></app-board-list>
      </div>
    </div>
   
    <div class="col-lg-9 col-md-12 p-0">
      <app-view-board  [viewBoard]="viewBoard" (dataUpdated)="boardlist($event)"> </app-view-board>
    </div>

  </div> 
</div>
<div class="footer mb-0">
  <app-footer></app-footer>
</div>
