
<div class="container">
  <form (ngSubmit)="registerUser()" [formGroup]="registrationForm">
    <h1>Register New User</h1>
    
    <mat-form-field appearance="outline">
      <mat-label>Email Id</mat-label>
      <mat-icon>email</mat-icon>
      <input type="text" placeholder="Email Id (ex: abc@gmail.com)" matInput name="email" formControlName="email" />
      <mat-error *ngIf="email?.errors?.['required']">Email id cannot be empty</mat-error>
      <mat-error *ngIf="email?.errors?.['pattern']">Enter valid email id</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>User Id</mat-label>
      <mat-icon>person</mat-icon>
      <input type="text" placeholder="User Id" matInput name="userName" formControlName="userName" />
      <mat-error *ngIf="userName?.errors?.['required']">User id cannot be empty</mat-error>
      <mat-error *ngIf="userName?.errors?.['pattern']">User id should have 3 characters starting with a letter</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <mat-icon>lock</mat-icon>
      <input type="password" placeholder="Password" matInput name="password" formControlName="password" />
      <mat-error *ngIf="password?.errors?.['required']">Password cannot be empty</mat-error>
      <mat-error *ngIf="password?.errors?.['pattern']">Should have min 6 chars, with atleast one symbol, number, upper & lower case letter</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <mat-icon>lock</mat-icon>
      <input type="password" placeholder="Confirm Password" matInput name="confirmPassword" formControlName="confirmPassword" />
      <mat-error *ngIf="confirmPassword?.errors?.['required']">Confirm password cannot be empty</mat-error>
      <mat-error *ngIf="confirmPassword?.errors?.['passwordMismatch']">Password and Confirm Password should match</mat-error>
    </mat-form-field>

    <mat-hint *ngIf="errorStatus">Error code {{errorStatus}}: User Already Registered! Please go to login</mat-hint>
    <div class="btn">
      <button color="primary" mat-raised-button matTooltip="Register" type="submit" [disabled]="registrationForm.invalid">Sign Up</button>
    </div>

  </form>
</div>