.task-modal {
  width: 600px;
  height: auto;
  padding: 20px;
  background-color: #e2d2fb;
  border:1px solid rgb(115, 48, 182);
  box-shadow: 2px 1px 10px 5px rgb(115, 48, 182);
}

h1{
  font-size: 25px;
  color: rebeccapurple;
  margin-bottom: 20px;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group{
  margin-bottom: 20px;
}

input{
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
}

.btn-container {
  display: flex;
  justify-content: center;
}

button{
  border-radius: 20px;
  color: whitesmoke;
}

/* .board {
    display: flex;
    justify-content: center;
    padding: 50px;
}
form {
    display: flex;
    flex-direction: column;
    width: 700px;
    padding: 20px 40px;
    background-color: rebeccapurple;
    box-shadow: 1px 1px 10px 2px rebeccapurple;
    border-radius: 10px;
    color: aliceblue;
}
mat-form-field {
    width: 100%;
    margin-bottom: 5px;
}
h1 {
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 20px;
} */
/* 
.task-modal {
    width: 600px;
    height: auto;
    padding: 20px;
    background-color: #F0EAD6;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .task-modal h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .task-modal form {
    display: flex;
    flex-direction: column;
  }
  
  .task-modal .form-group {
    margin-bottom: 15.5px;
  }
  
  .task-modal label {
    font-size: 14px;
    color: #555;
  }
  
  .task-modal input,
  .task-modal textarea,
  .task-modal select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  .task-modal .btn-container {
    display: flex;
    justify-content: space-between;
  }
  
 
  
   */