<mat-toolbar class="footer row grid text-center" style="--bs-columns: 20; --bs-gap: 2rem;" color="primary">
    <div class="image col-lg-3 col-md-6 col-sm-12 ">
        <a href="https://www.facebook.com" target="_blank" matTooltip="Facebook">
            <img src="../../assets/images/facebook.png" alt="facebook">
        </a>

        <a href="https://www.instagram.com" target="_blank" matTooltip="Instagram">
            <img src="../../assets/images/instagram.png" alt="instagram">
        </a>

        <a href="https://www.twitter.com" target="_blank" matTooltip="Twitter">
            <img src="../../assets/images/twitter.png" alt="twitter">
        </a>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <span> Kanban &copy; 2023</span>
    </div>
    <div class="contact col-lg-3 col-md-6 col-sm-12">
        
        <p><span class="info-title">Contact Info</span> 
            <br><a href="https://www.gmail.com" class="title" target="_blank">Baskaran A : baskaranthangam98@gmail.com</a>
            <br><a href="https://www.gmail.com"  class="title" target="_blank">Ram : ram.lakshman.ram2023@gmail.com</a>
            <br><a href="https://www.gmail.com" class="title" target="_blank">Mayuri Khope : mayurikhope8686@gmail.com</a>
        </p>
    </div>

</mat-toolbar>